{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "linebreak-style": 0,
        "func-names": off,
        "no-console": off
    },
    "env": {
        "jest": true
    }

}
